/* 	Developer: Max Coller 
	Start Date:  04/23/2023 */
	
/* set the height of the body and html to 100%*/
html, body {
  height: 100%;
  width: 100%;
}

@media print, screen and (min-width: 480px) {
	.menu-burger, .menu-chkbx, .hamburger {
	display:none;
	}
}

header {
  width: 105%;
  margin: 0px -10px 0px -10px;
  background-color: rgb(240,248,255);
}	

header h1 {
	text-shadow: 2px 2px 5px rgb(30,144,255);
	font-family: Garamond;
	background-image: linear-gradient(rgb(255,255,255),rgb(30,144,255));
}

nav {
	width: 200px;
	float: left;
}
	
nav ul {
    line-height: 2em;
    list-style-type: none;
    padding-left: 0px;
	text-indent: 5px; 
    border-radius: 5px;  
}

nav ul li {
	background-color: rgb(175,175,175);
    border-radius: 5px;
}

nav a {
    color: rgb(255,255,0);
    font-weight: bold;
    text-decoration: none;
}

.image-grid {
	width: 90%;
	justify-content: center;
  	align-items: center;
  	display: grid; 
	grid-template-areas: 
	   "img-top-l  	img-top-r" 
	   "img-bot-l	img-bot-r"; 
}

.img-top-l{
	display:flex;
	grid-area: img-top-l;
}

.img-top-r{
	display:flex;
	grid-area: img-top-r;
}

.img-bot-l{
	display:flex;
	grid-area: img-bot-l;
}

.img-bot-r{
	display:flex;
	grid-area: img-bot-r;
}

img.four-square {
  	width: auto;
  	height: auto;
  	max-width: 90%;
  	min-width: 100px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: rgb(175,175,175) rgb(200,200,200);
    background-color: black;
    border-radius: 20px;
}

section h2 {
	font-family: Copperplate, "Copperplate Gothic", serif;
	max-width: 870px;
} 

footer {
	text-align: center;
	font-size: .75em;
	font-family: Garamond;
	background-color: rgb(200,200,200);
	margin: 0px -10px 20px -10px;
}